/* Navbar Styling */
.app-navbar {
  font-weight: 500;
  letter-spacing: 0.05em;
  position: absolute;
}

/* Header Block Styling */
.app-graph {
  width: 150%;
  position: absolute;
  right: 0;
  bottom: -40px;
}

@media (min-width: 768px) {
  .app-graph {
    width: 100%;
    bottom: 0;
  }
}

/* iPhone Block Styling */
.app-iphone-block {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .app-iphone-block {
    padding-bottom: 0;
  }
}

/* Code Block Styling */
.app-code-block {
  background-color: #262F36;
  overflow: hidden;
}

.app-code {
  color: #6EA4CF;
  border: 1px solid #495158;
  background: transparent;
  font-size: 12px;
  padding: 20px;
  line-height: 1.55;
  margin-bottom: 30px;
  border-radius: 0.3rem;
}

.app-code span {
  color: #8496A5;
}

@media (min-width: 768px) {
  .app-code {
    width: 600px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .app-code {
    padding: 50px;
    font-size: 15px;
  }
}

/* Pull Quote Block Styling */
.app-high-praise img {
  width: 100%;
}

/* Brand Ribbon Block Styling */
.app-ribbon {
  background: #2595FF;
}

.app-ribbon .container {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -30px;
}

.app-ribbon img {
  margin: 0 10px 30px;
}

/* Marketing Grid Block Styling */
.app-block-marketing-grid .container {
  margin-bottom: -60px;
}

.app-marketing-grid .m-b {
  margin-bottom: 10px !important;
}

@media (max-width: 768px) {
  .app-marketing-grid .m-b-lg {
    margin-bottom: 40px !important;
  }
}

/* Price Plan Block Styling */
.app-price-plans {
  background-color: #F4F5F6;
}

.app-price-plans .container {
  margin-bottom: -60px;
}

/* Footer Block Styling */
.app-footer {
  background-color: #262F36;
}

.app-footer a {
  color: #fff;
}

/* General Block Overrides */
@media (max-width: 768px) {
  .block .lead {
    line-height: 1.3;
  }
  
  .block h3 {
    line-height: 1.15;
  }
}

/* General Inverse Overrides */
.block-inverse .text-muted {
  color: rgba(255, 255, 255, 0.7) !important;
}

.block-inverse .block-bg-img {
  background-color: transparent;
}

/* General Button Overrides */
.btn-lg {
  font-size: 18px;
}

.block-secondary .btn-lg {
  width: 100%;
}

.btn-lg:not(.btn-block) {
  padding: 12px 50px;
}

@media (min-width: 768px) {
  .btn-lg:not(.btn-block) {
    width: auto;
  }
}

/* IE10+ Styling */
@media (min-width: 768px) {
  .app-align-center {
    display: flex;
    align-items: center;
  }
}
