/* Pie Chart */
#pieChart {    
	position: absolute;
	top: 10px;
	left: 10px;
	width: 400px;
	height: 400px; 
  }
  
  /* Line Chart */
  #lineChart {    
	position: absolute;
	top: 10px;
	left: 410px;
	height: 150px;
  }
  
  /* Bar Chart */
  #barChart {
	position: absolute;
	top: 160px;
	left: 410px;
	height: 250px;
  }
  
  /* Slice Label Styling (for Pie Chart) */
  .slice {
	font-size: 12pt;
	font-family: Verdana;
	fill: white; /* SVG-specific - instead of color */
	font-weight: bold;  
  }
  
  /* Line Chart Axis Styling */
  .axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges; /* Ensures pixel-perfect axis and tick marks */
  }
  
  /* Line Chart Line Styling */
  .line {
	fill: none;
	stroke-width: 3px;
  }
  
  /* Line Chart Dot Styling */
  .dot {
	stroke-width: 1.5px;
  }
  
  /* Axis Text Styling */
  .axis text {
	font-family: Verdana;
	font-size: 11px;
  }
  
  /* Title Styling */
  .title {
	font-family: Verdana;
	font-size: 15px;	
	color: white;
  }
  
  /* X-Axis Styling */
  .xAxis {
	font-family: Verdana;
	font-size: 11px;
	fill: black;
  }  
  
  /* Y-Axis Styling */
  .yAxis {
	font-family: Verdana;
	font-size: 11px;
	fill: white;
  }
  
  /* Table Styling */
  table {
	border-collapse: collapse;
	border: 0;
	font-family: Verdana;
	color: #5C5558;
	font-size: 12px;
	text-align: right;
  }
  
  /* Table Cell Styling */
  td {
	padding-left: 10px;
  }
  
  /* Line Chart Title 1 */
  #lineChartTitle1 {
	font-family: Verdana;
	font-size: 14px;
	fill: lightgrey;
	font-weight: bold;
	text-anchor: middle;
	color: white;
  }
  
  /* Line Chart Title 2 */
  #lineChartTitle2 {
	font-family: Verdana;
	font-size: 72px;
	fill: grey;
	text-anchor: middle;
	font-weight: bold;
	color: white;
	/* font-style: italic; */
  }
  